# Ignore everything
*

# But not these files...
!/.gitignore
!/graylog.conf
!/log4j2.xml
# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/sub/directory_x/file.txt
!*/sub/directory_y/*